*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/debug/app-debug.aab
/app/debug/app-debug.apk
/app/release/app-release.aab
/app/debug/output-metadata.json
/private_key.pepk
